@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&family=Red+Hat+Display:wght@500&display=swap');


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

:root {
  --primary-color: #fc4242;
  --accent-color-1: #e47c7c;
  --accent-color-2: #ffb6b6;
  --accent-color-3: #d6e3ff;
  --dark-color: #000000;
  --light-color: #ffffff;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: linear-gradient(-45deg, var(--light-color), var(--accent-color-3));
}

.container {
  width: min(960px, calc(100vw - 4rem));
  margin: 0 auto;
}

.page-header {
  z-index: 1;
  top: 0;
  position: sticky;
  padding: .5em 0;
  background-color: var(--dark-color);
  color: var(--light-color);

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    background-color: var(--light-color);
    width: 2em;
    aspect-ratio: 1;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  nav {
    margin-left: 2rem;
    margin-right: auto;

    ul {
      list-style: none;
      display: flex;
      align-items: center;
      gap: 2em;

      a {
        text-decoration: none;
        color: var(--light-color);
        text-transform: uppercase;
      }
    }
  }

  .resume-link {
    padding: 1ch 2ch;
    font-size: .9em;
    display: inline-block;
    border: none;
    background-color: var(--primary-color);
    color: var(--light-color);
    text-decoration: none;
    border-radius: .125em;
  }

}

section {
  padding: 6rem 0;
  min-height: 100vh;

  & header {
    font-size: 3em;
  }
}

section#about {
  padding: 15rem 0;

  .container {
    display: flex;
    align-items: center;
  }

  .photo {
    width: 20rem;
    object-fit: cover;
    border-radius: .5em;
    transform:
      perspective(800px) rotateY(15deg);
    transition: transform 1s ease 0s;
    box-shadow:
      rgba(0, 0, 0, 0.024) 0px 0px 0px 1px,
      rgba(0, 0, 0, 0.05) 0px 1px 0px 0px,
      rgba(0, 0, 0, 0.03) 0px 0px 8px 0px,
      rgba(0, 0, 0, 0.1) 0px 20px 30px 0px;

    &:hover {
      transform: perspective(800px) rotateY(12deg);
    }
  }

  .intro-container {
    margin-left: 2rem;

    .greeting {
      font-size: 2em;
      color: var(--accent-color-1)
    }

    .name {
      font-weight: bold;
      font-size: 3rem;
      font-family: 'Red Hat Display', sans-serif;
    }

    .intro {
      margin-top: 2em;
      line-height: 1.5;

      span {
        font-weight: 600;
        color: var(--accent-color-1)
      }
    }

    p {
      margin-top: 3em;
      font-size: .8em;
    }

    a {
      display: inline-block;
      margin-top: .5em;
      border: none;
      padding: 1ch 5ch;
      background-color: var(--primary-color);
      color: var(--light-color);
      text-decoration: none;
      border-radius: .125em;
      font-size: 1.2rem;
    }
  }
}

section#experience {
  ul {
    margin-top: 4rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      width: 3px;
      border-left: 1px solid var(--light-color);
      height: 100%;
      background: var(--accent-color-2);
      left: 50%;
      transform: translateX(-50%);
    }

    li {
      background: var(--light-color);
      padding: 2rem;
      border-radius: 1rem;

      &::before,
      &::after {
        position: absolute;
        background-color: var(--accent-color-2);

      }

      &::before {
        content: '';
        width: 50%;
        height: 2px;
        border-top: 1px solid var(--light-color);
        left: 0;
        transform: translateY(20px);
        z-index: -1;
      }

      &::after {
        content: attr(data-joined);
        width: 40px;
        aspect-ratio: 1;
        left: 50%;
        transform: translate(-50%, -72px);
        border-radius: 50%;
        font-size: .7em;
        display: grid;
        place-content: center;
        border: 2px solid var(--light-color);
        text-align: center;
        color: var(--light-color);
        font-weight: 700;
      }

      &.left {
        align-self: flex-start;
        text-align: right;
      }

      &.right {
        &::before {
          left: 50%;
        }

        align-self: flex-end;
      }

      .role {
        font-weight: bold;
        font-size: 1.2em;
      }

      .company {
        color: #666;
      }

      .duration {
        margin-top: 1em;
        font-size: 0.9em;
      }
    }
  }
}
