@import url('https://fonts.googleapis.com/css2?family=Borel&family=Ubuntu:wght@300;400;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {}

.container {
  width: min(900px, calc(100vw - 2rem));
  margin: 0 auto;
}

header {
  top: 0;
  position: sticky;
  padding: .5em 0;
  background-color: black;
  color: #fff;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    width: 3em;
    aspect-ratio: 1;
    overflow: hidden;

    img {
      border-radius: 50%;
      width: 100%;
    }
  }

  nav {
    margin-left: 2rem;
    margin-right: auto;

    ul {
      list-style: none;
      display: flex;
      align-items: center;
      gap: 2em;

      a {
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
      }
    }
  }

  button {
    padding: 1ch 2ch;
    font-size: .75em;
  }

}

.section {
  text-align: center;
}